[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nebel-sdk-py = {editable = true,git = "https://gitlab.com/Serkan-devel/minds-api.git"}
flask = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
app = "python -m flask run"
